<div class="c-layout-container c-layout-grid">
    <div class="c-layout-north">
        <div class="process-tabs">
            <ul class="nav nav-tabs">
                <li class="active t-waiting">
                    <a id="p-waiting" name="p-waiting" href="#waiting" data-toggle="tab">
                        <i class="icon-envelope"></i>
                        <span class="">待认领</span><br/>
                        <span >工作流-任务-人工任务</span>
                    </a>
                </li>
                <li>
                    <a id="p-doing" name="p-doing" href="#doing" data-toggle="tab">
                        <i class="icon-inbox"></i>
                        <span class="">待办理</span><br/>
                        <span>工作流-任务-人工任务</span>
                    </a>
                </li>
                <li>
                    <a id="p-done" name="p-done" href="#done" data-toggle="tab">
                        <i class="icon-ok"></i>
                        <span class="">已办理</span><br/>
                        <span >工作流-任务-人工任务</span>
                    </a>
                </li>
                <li>
                    <a id="p-all" name="p-all" href="#all" data-toggle="tab">
                        <i class="icon-pencil"></i>
                        <span class="">全&nbsp;&nbsp;&nbsp;部</span><br/>
                        <span >工作流-任务-人工任务</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="c-layout-center c-waiting">
        <div id="toolbar-waiting" class="btn-toolbar c-waiting"></div>
        <div id="body-waiting" class="c-layout-body c-waiting"></div>
    </div>
    <div class="c-layout-center c-doing" style="display:none">
        <div id="toolbar-doing" class="btn-toolbar c-doing"></div>
        <div id="body-doing" class="c-layout-body c-doing"></div>
    </div>
    <div class="c-layout-center c-done" style="display:none">
        <div id="toolbar-done" class="btn-toolbar "></div>
        <div id="body-done" class="c-layout-body "></div>
    </div>
    <div class="c-layout-center c-none" style="display:none">
        <div id="toolbar-none" class="btn-toolbar "></div>
        <div id="body-none" class="c-layout-body "></div>
    </div>
    <!-- <div id="toolbar-container" class="c-layout-middle" >
            <div id="toolbar-waiting" class="btn-toolbar c-waiting"></div>
            <div id="toolbar-doing" class="btn-toolbar c-doing"></div>
            <div id="toolbar-done" class="btn-toolbar c-done"></div>
            <div id="toolbar-none" class="btn-toolbar c-none"></div>
        </div>
        <div class="c-layout-center">
            <div id="body-waiting" class="c-layout-body c-waiting"></div>
            <div id="body-doing" class="c-layout-body c-doing"></div>
            <div id="body-done" class="c-layout-body c-done"></div>
            <div id="body-none" class="c-layout-body c-none"></div>
        </div> -->
</div>
