@import url('default/styles/index.css');
@import url('ace/styles/index.css');
@import url('cde/styles/index.css');

html, body {
    height: 100%;
}
/* c- 表示 cdeio- */

.c-fill {
    height: 100%;
}

.c-page-content {
    padding: 86px 0 0 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.c-system-logo {
    display: block;
    float: left;
    height: 25px;
}

.c-system-name {
    float: left;
    margin-left: 10px;
    font-size: 85%;
    margin-top: 2px;
}

.c-layout-container {
    height: 100%;
    overflow: hidden;
}

/*.c-layout-border {
    border: 1px solid #BAC1C8; 
    margin-top: 20px;
}*/

.c-layout-container .c-layout-center {
    height: 100%;
}

.c-layout-tree .c-layout-center {
    overflow: auto;
}

.c-layout-grid .c-layout-center {
    overflow: hidden;
}

.c-layout-center .btn-toolbar {
    margin-left: 12px;
}

.c-layout-grid .c-layout-body {
    overflow: hidden;
}

.c-layout-body {
    height: 100%;
    overflow: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.c-layout-toolbar {
    height: 59px;
    background-color: #ECF0F1;
}

.c-layout-toolbar .btn-toolbar {
    margin-left: 12px;
    margin-right: 12px;
}

.c-layout-body .dataTables_wrapper {
    height: 100%;
    overflow: hidden;
}

.c-grid-top {
    padding: 10px 0 4px !important;
    position: relative;
    z-index: 200;
    border-top: 8px solid #D3DBDF;
    color: #626F7F !important;
}

.c-grid-body {
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.c-picker {
    width: 100%;
    position: relative;
}

.c-picker .uneditable-input {
    width: 100%;
    display: inline-block;
    height: 32px;
    border-radius: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.c-picker a.btn {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 29px;
    line-height: 30px;
    padding: 1px 10px 0 10px;
    border: 1px solid #CCCCCC;
    background-color: #F0F3F5 !important;
    color: #949DAA !important;
}

.c-picker .btn > [class*="icon-"] {
    margin-left: 4px;
}

.c-picker .btn > [class*="icon-"]:before {
    width: 15px;
}

.c-picker a.btn:hover {
    background-color: #D4DFEF !important;
    color: #fff !important;
}

.c-picker a.btn.btn-remove {
    background-color: #FF384D !important;
    border-color: #FF384D;
    color: #fff !important;
}

.c-picker a.btn.btn-remove:hover {
    background-color: #F21C33 !important;
}

.c-picker a.btn.btn-success {
    background-color: #00B2AD !important;
    border-color: #00B2AD;  
    color: #fff !important;  
}

.c-picker a.btn.btn-success:hover {
    background-color: #139793 !important;
}

.c-picker a.btn.plus {
    right: 52px;
}

.c-picker .text {
    position: absolute;
    overflow: hidden;
    width: 90%;
    top: 7px;
}

.c-action-form .tab-content {
    border: 0;
    background-color: #FFF;
    padding: 0;
}

.c-action-form .tab-content .tab-pane > .control-group {
    border: 1px solid #C5D0DC;
    border-top: 0;
}

.c-action-form .tab-content > .tab-pane > .control-group {
    border-top: 8px solid #D3DBDF;
}

.c-action-form-show {
    font-size: 14px;
}

/*.c-action-form-show fieldset:first-child .row-fluid:first-child {*/
.c-action-form-show fieldset .row-fluid:first-child {
    border-top: 1px solid #BCE8F1;
}

.c-action-form-show fieldset .c-layout-north .row-fluid {
    border-top: 0;
}

.c-action-form-show .row-fluid {
    border: 1px solid #BCE8F1;
    border-top: 0;
    overflow: hidden;
}

.c-action-form-show .field-label {
    display: inline-block;
    padding: 10px 5px 0 5px;
    background-color: #D9EDF7;
    font-weight: bold;
    text-align: right;
    border-right: 1px solid #BCE8F1;
    float: left;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    cursor: pointer;
}

.c-action-form-show .row-fluid .span6:nth-child(2) .field-label {
    border-left: 1px solid #BCE8F1;
}

.c-action-form-show .field-value {
    display: inline-block;
    padding: 10px 5px;
}
/* 去掉 查看表单中 inling-grid 内操作按钮组的边框 */
.c-action-form-show .c-inline-grid-container .row-fluid{
    border: 0;
}
/* form 表单组样式，用户表单中分组样式的处理 */
.c-form-group-title {
    background: #fff;
    border-bottom: 1px solid #D3DBDF;
    /*border-top: 8px solid #D3DBDF;*/
    cursor: pointer;
}

.c-form-group-title + .c-form-group-container {
    padding: 15px;
    border-top: 0;
}

.c-form-group-title h5 {
    margin: 0;
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 15px;
}

.c-inline-grid-margin {
    margin-bottom: 10px;
}

.c-inline-grid-container {
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 0;
    padding: 0;
}

.c-inline-grid-inside {
    padding: 10px;
    border: 1px solid #cccccc;
}

.c-form-group-cols-1 .field-label {
    width: 17%;
}

.c-form-group-cols-1 .field-value {
    width: 63%;
}

.c-form-group-cols-2 .field-label {
    width: 35%;
}

.c-form-group-cols-2 .field-value {
    width: 55%;
}

.c-view-form-field .field-value {
    padding-left: 10px;
}

.field-value:after {
    content: "a";
    visibility: hidden;
    width: 0;
}

.c-modal-size-mini {
    width: 360px;
    margin-left: -180px;
}

.c-modal-size-small {
    width: 560px;
    margin-left: -280px;
}

.c-modal-size-medium {
    width: 760px;
    margin-left: -380px;
}

.c-modal-size-large {
    width: 960px;
    margin-left: -480px;
}

.filter_column {
    text-align: center;
    display: block;
}

.number_range_filter {
    width: 30%;
}

.btn-group button.btn.c-filter-toggle {
    border-radius: 24px;
    width: 38px;
    margin-right: 0 !important;
}

.gecko .c-filter-toggle i {
    margin-left: 4px;
}
.webkit .c-filter-toggle i {
    margin-left: -2px;
}

.c-date-range {
    position: relative;
    z-index: 300;
}

.c-filter-body {
    padding: 10px 10px 0;
}

.c-filter-operates {
    background-color: #eee;
    padding: 10px 0;
}

.c-filter-body .form-horizontal .control-label {
    width: 80px;
}

.c-filter-body .form-horizontal .controls {
    margin-left: 100px;
    margin-bottom: 0;
}

.c-filter-body .form-horizontal {
    margin: 0;
}

.c-filter-body .form-horizontal .control-group {
    margin-bottom: 0;
}

.required-mark {
    color: #ff0000;
}

.process-tabs {
    margin: 0 12px;
    margin-top: 20px;
}

.process-tabs .nav-tabs li {
    width: 25%;
    margin: 0;
    
}

.process-tabs .nav-tabs li > a {
    background-color: #FFF;
    height: 50px;
    border: 0;
    margin-right: 1px ;
    font-size: 18px;
    margin-top: 0px;
    color: #282E36;
    line-height: 18px;
}

.process-tabs .nav-tabs li > a > i {
    margin-top: 10px;
    /*color: #fff;*/
}

.process-tabs .nav-tabs li > a span:last-child {
    color: #76848F;
    letter-spacing: 1px;
    padding-left:28px;
    font-size:13px;
}
.process-tabs .nav-tabs li > a:hover span:last-child, 
.process-tabs .nav-tabs li.active > a span:last-child {
    color: #FFF;
}

.process-tabs .nav-tabs li > a:hover {
    background-color: #00B9B6;
    color: #FFF;
    line-height: 18px;
}

.process-tabs .nav-tabs > li.active > a, .process-tabs .nav-tabs > li.active > a:hover, .process-tabs .nav-tabs > li.active > a:focus {
    margin-top: 0px;
    background-color: #00B9B6;
    height: 45px;
    border: 0;
    color: #fff;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 18px;
}

.process-tabs .nav-tabs > li.active > a > i {
    margin-top: 7px;
}

.process-tabs .nav-tabs li > a:hover i {
    opacity: 1;
}

/* upload preview */
.upload-preview-btn ~ .popover > .popover-content {
    width: 280px;
    height: 180px;
    padding: 2px;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
}
.upload-preview {
    max-width: 270px;
    max-height: 170px;
    cursor: pointer;
    vertical-align:middle;
}
.upload-multiple-preview {
    position: absolute;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 0;
}
/* end upload preview */

/* personal information */
.popover {
    max-width: 500px;
    /*background-color: #00B9B6;*/
}

.info-container {
    width: 400px;
    margin: 5px;
}

.info-header {
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: -5px;
}

.info-content {
    height: 220px;
    padding: 1px;
}

.info-img {
    float: left;
    width: 140px;
    padding: 5px 1px;
    margin: 5px 10px;
}
.info-img .photo {
    margin: 15px 8px;
    width: 120px;
    height: 120px;
}

.info-detailed {
    float: left;
    width: 220px;
    padding-left: 5px;
}

.info-detailed li {
    list-style: none;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.info-detailed span {
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: 22px;
}

.large-user-btns .info-detailed i {
    padding-top: 4px;
}

.large-user-btns .popover {
    cursor: default;
    left: 189px !important;
    top: 1px !important;
}

.large-user-btns .popover.right .arrow {
    /*visibility: hidden;*/
    top:50px;
}

.btn-groups {
    padding-left: 40px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.info-password {
    padding-left: 40px;
    padding-right: 30px;
    margin-top: -10px;
}

.btn-groups .btn-password {
    border-radius: 5px !important;
    margin-right: 10px;
}

.btn-change-password {
    border-radius: 5px !important;
    margin-left: 25px;
}
/* end personal information */
