body:before {
	background-color: #ECF0F1;
}

body {
	font-family: "Lantinghei SC","Noto Sans S Chinese","Microsoft Yahei","Helvetica Neue",Helvetica,Arial,STHeiti,"Microsoft Sans Serif","WenQuanYi Micro Hei",sans-serif;
}

form {
    margin: 0;
}

.nav-search, .pre {
	letter-spacing: 0;
}

.navbar .navbar-inner {
	background-color: #233241;
	/*box-shadow: rgba(0,0,0,.2) 0 0 6px;*/
}

.navbar .brand {
	color: #FFF;
}

.nav-tabs {
	border-bottom: 0px;
    background-color: #EFF3F5;
    padding-bottom: 1px;
}

.nav-tabs > li {
	margin-bottom: 0;
    margin-right: 1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  margin-top: 1px;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: #FFF;
}

.nav-tabs > li > a:hover {
	cursor: pointer;
	background-color: #FFF;
	color: #999;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #576373;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  padding: 10px 13px;
}

.nav-search .show-source{
	border-radius: 50%;
	background: #259B9D !important;
	border: 1px solid #259B9D;
	margin-right: 5px;
}

.nav-search .close-source{
	border-radius: 50%;
	background: #FCB04E !important;
	border: 1px solid #FCB04E;
	margin-right: 5px;
}


.main-container {
	background-color: rgba(0,0,0,0.0);
}

.exit-btn {
	background-color: #243241 !important;
}

.exit-btn i{
	color: #FFF !important;
}

.exit-btn:hover i {
	color: #F76461 !important;
}

/* begin sidebar */
.sidebar:before {
	background-color: #243241;
}

.sidebar-shortcuts {
	background-color: #00B9B6;
	max-height: 80px;
/*	height: 80px;*/
	border-bottom: 1px dashed #FFF;
}

.sidebar-shortcuts-mini {
	padding-top: 0px;
	padding-bottom: 0px;
}

.nav-list > li {
	border-top: 1px solid #15191E;
	border-bottom: 1px solid #15191E;
}

.nav-list a {
	background-color: #243241;
	color: #8E9AA5;
}
.nav-list .active a {
	background-color: #243241;
	color: red;
}

.nav-list > li .submenu > li > a {
	border-top: none;
}

.nav-list > li .submenu a,
.nav-list > li .submenu li.open .submenu {
	background-color: #172639;
}

.nav-list li.active > a:after {
	border-right-color: #ECF0F1;
}

.nav-list > li.active:after {
	border-right: 0px;
}

.nav-list > li.open {
	border-bottom-color: #15191E;
}

.nav-list > li.open > a {
	background-color: #243241;
	color: #00B9B6;
	border-bottom-color: #15191E;
}

.nav-list > li .submenu {
	border-top: none;
}

.nav-list > li .submenu > li > a {
	padding-left: 42px;
}

.nav-list > li > .submenu > li:first-child > a {
	border-top: 1px solid #15191E;
}

.nav-list > li > a, .nav-list > li > a:hover,
.nav-list > li > a:focus,.nav-list > li > a:active {
	background-color: #243241;
}

.nav-list > li.active > a, .nav-list > li.active > a:hover, .nav-list > li.active > a:focus, .nav-list > li.active > a:active {
	color: #00B9B6;
	background-color: #243241;
}

.nav-list > li > .submenu:before {
	border-left: 1px solid #15191E;
}
.nav-list > li > .submenu li > .submenu {
	background-color: #172639;
}

.nav-list > li > .submenu li > .submenu li > .submenu {
	margin-left: 5px;
}

.nav-list > li > .submenu .green {
	color: #8E9AA5 !important;
}

.nav-list > li > .submenu li > a:hover > .green,
.nav-list > li > .submenu li.active > li.active > a > .green,
.nav-list > li > .submenu li.active > a > .green {
	color: #00B9B6 !important;
}

.nav-list .icon-double-angle-right {
	background: #172639 !important;
}

.nav-list a:hover .icon-double-angle-right {
	background: #172639 !important;
	color: #00B9B6 !important;
}

.nav-list > li .submenu > li.active > a > [class*="icon-"]:first-child,
.nav-list > li > .submenu li.active > .submenu li.active > a > [class*="icon-"]:first-child,
.nav-list > li > .submenu li > .submenu > li:hover > a > [class*="icon-"]:first-child {
	color: #00C0B9;
}

.nav-list > li > .submenu li > .submenu li.open > a > [class*="icon-"]:first-child {
	color: #A7B1C2;
}

.nav-list > li.active .submenu > li a > [class*="icon-"]:first-child,
.nav-list > li.active .submenu > li.open a > [class*="icon-"]:first-child,
.nav-list > li.active .submenu > li.active a > [class*="icon-"]:first-child {
	background-color: #172639;
}

.nav-list > li.active > .submenu:before {
	border-left-color: #15191E;
}

.nav-list > li a > .arrow {
	color: #8E9AA5 !important;
}

.nav-list > li > a:hover:before {
	background: #00B9B6;
}

.nav-list > li a {
	color: #A7B1C2 !important;
}

.nav-list > li a:hover {
	color: #00B9B6 !important;
	text-decoration: none !important;
}

.nav-list > li > .submenu li.active > a {
	color: #00B9B6 !important;
	text-decoration: none !important;
}

.nav-list > li.active.open li.active.open li.active > a:after {
	top: 8px;
}

.nav-list > li.active.open li.active > a:after {
	border-width: 8px 8px;
	top: 8px;
}

.nav-list li.active > a:after {
	border-width: 8px 8px;
	top: 10px;
}

.menu-min .nav-list > li.open > a {
	background: #243241;
}

.menu-min .nav-list > li.open.active > a {
	background: #243241;
}

.menu-min .nav-list > li > a > .menu-text {
	background: #243241;
}
.menu-min .nav-list > li > a.dropdown-toggle > .menu-text {
	border-bottom: 1px solid #15191E;
}

.menu-min .nav-list > li > .submenu {
	border: 1px solid #15191E !important;
	background-color: #243241 !important;
}

.menu-min .nav-list > li > a > .menu-text {
	box-shadow: none;
	border: 1px solid #15191E !important;
}

.sidebar {
	border-right: 0;
}

.sidebar:before {
	border-right: 0;
}
.sidebar-collapse {
	border-bottom: 1px solid #15191E;
	background-color: #243241;
}

.sidebar-collapse:before {
	border-top: 1px dashed #20252B;
}

.sidebar-collapse > [class*="icon-"] {
	color: #15191E;
	border: none;
	background-color: #8E9AA5;
}

.nav-list > li > .submenu > li:first-child > a {
	border-top: 1px solid #15191E;
}

.menu-min .sidebar-shortcuts-large {
	background: #00B9B6;
	height: 78px;
	box-shadow: none;
	border-top: none;
	border-right: none;
	border-left: 1px dashed #FFF;
	border-bottom: 1px dashed #FFF;
}

.large-userphoto {
	width: 40%;
	float: left;
}

.large-user-photo {
	width: 50px;
	height: 50px;
	margin-top: 12px;
	border-radius: 50%;
	border: 3px solid #f5a623;
}

.large-userinfo {
	width: 60%;
	float: left;
	padding-top: 7px;
}

.large-username {
	width: 100%;
}

.large-user-name {
	color: #FFF;
	font-size: 13px;
	/*float: right;*/
	margin-right: 10px;
}

.large-setting-cog {
	clear: both;
	display: inline-block;
}

.large-user-btns {
	color: #FFF;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	border: 1px solid #FFF;
	margin-top: -26px;
	margin-left: 100px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

.large-user-btns i {
	float: left;
	padding-left: 4px;
	padding-top: 3px;
}

.mini-user-photo {
	width: 25px;
	height: 25px;
	margin-top: 26px;
	margin-left: 5px;
	border-radius: 50%;
	border: 3px solid #f5a623;
	float: left;
}

/* end sidebar */

.breadcrumbs {
	border-bottom: 1px solid #E2E8E8;
	border-top: 1px solid #DEE4E5;
	background-color: #FFFFFE;
}

.breadcrumb > li > a {
	color: #626F7E;
	padding: 0;
}

.breadcrumb > li {
	text-shadow: none;
	color: #626F7E;
}

.breadcrumb > li > .divider {
	margin: 0 5px;
}

.breadcrumb > li.active {
	color: #20252B;
}

.c-layout-toolbar {
	background: #FFF;
}

.dataTables_wrapper {
	margin: 0 12px;
}

.dataTables_wrapper .row-fluid:first-child {
	background: #fff;
	color: #B6C2C9;
	width: inherit;
}

.dataTables_empty {
	text-align: center !important;
}

.dataTables_empty:hover {
	background-color: #F5F8FA !important;
}

.table td[class*="sorting"] {
	text-align: center;
}

.table thead tr {
	background: #FFF;
	color: #20252B;
}

.table tbody tr td:first-child > a {
	color: #62677F;
	text-decoration: none;
}

.table tbody tr td:first-child > a:hover,
.table tbody tr td:first-child > a:focus {
	color: #00C0B9;
	text-decoration: none;
}

.table.table-bordered thead tr th:first-child {
	border-left: transparent;
}

.table.table-bordered {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

.table.table-bordered td:first-child {
	border-left: 0;
}

fieldset .table.table-bordered thead tr th:first-child,
.tab-pane .table.table-bordered thead tr th:first-child {
	border-left: 1px solid #E2E7EA;
}

fieldset .table.table-bordered,
.tab-pane .table.table-bordered {
	border-bottom: 1px solid #E2E7EA;
	border-right: 1px solid #E2E7EA;
}

fieldset .table.table-bordered td:first-child,
.tab-pane .table.table-bordered td:first-child {
	border-left: 1px solid #E2E7EA;
}

.table.table-hover tbody tr.selected td {
    /*background-color: #C0ECEC;*/
    background-color: #DDF4F2;
}

.table.table-hover tbody tr:hover td {
    background-color: #DDF4F2;
}

.table-striped tbody th, .table-striped tbody td {
	line-height: 28px;
	color: #626F7F;
}

.dataTable th[class=sorting_disabled] {
	color: #20252B;
}

.dataTable th[class*=sort]:hover {
	color: #00B9B6;
}
.table-bordered th, .table-bordered td {
	border-left: 1px solid #E2E7EA;
}

.table th, .table td {
	border-top: 1px solid #E2E7EA;
}

.even {
	background-color: #FFF;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #F5F8FA;
}

/* 处理列表上过滤器居中显示的问题 */
.table.table-bordered thead tr th {
	text-align: center;
}

.dataTable th[class*=sort] {
	text-align: left !important;
}

.dataTable thead th[class*=sort]:first-child {
	text-align: center !important;
}
/* end */

.pagination ul > li > a {
	color: #626F7F;
	background-color: #fff;
	margin-left: 5px;
}

.pagination ul > li:hover > a {
	color: #FFF;
	background-color: #00B9B6;
}

.pagination ul > li.disabled > a {
	background-color: #fff;
	margin-left: 5px;
}

.pagination ul > li.disabled:hover > a {
	color: #FFF;
	background-color: #00B9B6;
}

.pagination ul > li.active > a, .pagination ul > li.active > a:hover {
	background-color: #00B9B6;
}

.page-content {
	background-color: #ECF0F1;
}

.page-content .page-content {
	background-color: #FFF;
}

/* 模态对话框 title */
.modal-header {
    background-color: #00B9B6;
    color: #FFF;
	padding: 10px 15px;
    font-size: 16px;
    border-bottom: none;
}
/* 弹出窗口关闭样式，覆盖 bootstrap */
.close {
	color: #EEE;
	font-weight: 200;
	text-shadow: 0 0 0;
    opacity: 1;
}
.close:hover, .close:focus {
    color: #FFF;
    opacity: 1;
}
.modal-header .close {
    font-size: 20px;
    margin-top: 0;
}

.c-form-group-label {
    margin: 0 0 10px 0;
    border-top: 10px solid #EFF3F5;
    border-bottom: none;
}

.c-form-group-label h5 {
    margin: 10px 20px 0 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.c-form-group-content {
    margin: 5px 20px 15px 20px;
    padding-top: 10px 0;
}

.c-form-group-container {
    padding: 15px 10px !important;
}

.c-form-group-container .control-label {
    color: #656565;
    margin-bottom: 2px;
}

.c-form-feature-field {
    margin-bottom: 10px;
}

.c-form-feature-field .c-layout-grid .c-form-group-title {
    border: none;
}

.c-form-feature-field .c-layout-grid .c-form-group-title h5 {
    margin-bottom: 5px;
    padding: 0;
    font-size: 14px;
}

.c-form-multi-fileuploader {
    margin-bottom: 20px;
}

.select2-container .select2-choice .select2-arrow {
	padding-right: 5px;
}

.select2-container, input[type="datepicker"] {
	margin-bottom: 10px;
}

.select2-container .select2-choice {
	min-height: 30px;
    overflow: auto;
}

/*.select2-container .select2-choice .select2-chosen {
	color: #8E9AA5;
}*/

.select2-container .select2-choice span {
	margin-top: 3px;
}

.select2-container-active .select2-choice, .select2-drop {
	border: 1px solid #1BB3B3;
}

.select2-results .select2-highlighted, .ui-datepicker td > a.ui-state-active {
	background-color: #1BB3B3;
}

input[type="datepicker"] {
	height: 32px;
}

.bootbox .modal-body {
	padding: 15px;
}

.modal-body {
    padding: 10px 0 0 0;
}

.modal-body fieldset:first-child .c-form-group-label {
    border-top: none;
}

.modal-body form fieldset {
	background-color: #FFF;
}

.modal-body .dataTables_scrollBody {
	background-color: #EBF0F1;
}

.modal-body .tab-pane {
    margin-top: 10px;
}

.modal-footer {
	background-color: #fff;
}

.modal-footer > a.btn {
	width: 60px;
	height: 28px;
	font-size: 16px;
    letter-spacing: 2px;
}

.modal .c-grid-top {
	padding: 5px 0 1px !important;
}

.modal .btn-toolbar {
	margin-top: 0;
}

.modal .dataTables_wrapper {
	margin-left: 0px;
	margin-right: 0px;
}

.btn-toolbar > .btn-group > a.btn {
	border-radius: 2px;
	border-width: 4px !important;
	font-size: 13px;
}

.btn-toolbar > .btn-group > [class^="icon-"]:before, .btn-toolbar > .btn-group > [class*="icon-"]:before {
	width: 11px !important;
}

button.btn > [class*="icon-"] {
	display: inline-block;
	width: 13px;
}

/* 自定义按钮配色 覆盖bootstrap start */
.btn, .btn-default {
	text-shadow: none !important;
	background-color: #B4C1C9 !important;
	border-color: #B4C1C9;
	color: #FFF !important;
}

.btn:hover, .btn-default:hover {
	background-color: #909AA1 !important;
}

.btn-primary {
	background-color: #00B9B6 !important;
	border-color: #00B9B6;
}

.btn-primary:hover {
	background-color: #22A09E !important;
}

.btn-info {
	background-color: #3C80E1 !important;
	border-color: #3C80E1;
}

.btn-info:hover {
	background-color: #0070DF !important;
}

.btn-success {
	background-color: #00B2AD !important;
	border-color: #00B2AD;
}

.btn-success:hover {
	background-color: #139793 !important;
}

.btn-danger {
	background-color: #FF384D !important;
	border-color: #FF384D;
}

.btn-danger:hover {
	background-color: #F21C33 !important;
}

.btn-warning {
	background-color: #FA9D04 !important;
	border-color: #FA9D04;
}

.btn-warning:hover {
	background-color: #DD9317 !important;
}

.btn-inverse {
	background-color: #2C343C !important;
	border-color: #2C343C;
}

.btn-inverse:hover {
	background-color:
}

.btn-small {
    padding: 0 4px;
    line-height: 22px;
}
/* end */

.btn-group > .btn:last-child {
	margin: 0 8px 0 0 !important;
}

.btn-group + .btn-group {
	margin-left: 0px;
}

.btn-group > .btn + .btn {
	margin-left: 2px !important;
}

.ui-layout-west .btn-toolbar > .btn-group > .btn:last-child {
	margin: 0 6px 0 0 !important;
}

.ui-layout-west .btn-toolbar > .btn-group > .btn + .btn {
	margin-left: 2px !important;
}

.btn-toolbar > .btn-group:last-child > .btn:last-child {
	margin: 0 !important;
}

.upload {
	margin-top: 15px;
	margin-bottom: 10px;
}

/*.select2-choice,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datepicker"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	color: #8E9AA5;
}*/

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: #1BB3B3;
}

input[type="datepicker"]:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
	border: 1px solid #1BB3B3;
}
